/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Great Vibes", cursive;
    --primary-color-base: #966919; /* Deep Golden Brown */
    --primary-color-light: #C1A272; /* Light Golden Brown */
    --secondary-color-base: #B5D5C6; /* Soft Botanical Green   */
    --secondary-color-dark: #8EBFAE; /* Muted Botanical Green   */
    --accent-color-base: #A83246; /* Cherry Red */
    --neutral-color-light: #FFFFFF; /*White*/
    --neutral-color-dark: #2F2F2F; /* Charcoal Grey */
    --neutral-color-soft: #F2F2F2; /* Soft Grey */
}

/* Global Styles */

body{
    font-family: var(--primary-font);
    /* background-color: #FFFFFF; */
    color: var(--neutral-color-dark);
}


h1{
   font-family: var(--secondary-font);
   color: var(--primary-color-base);
}

h1,
h2{
    text-transform: uppercase;
}

h2{
    margin-bottom: 2rem;
}

.sub-heading-color{
    color: var(--secondary-color-base);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */
#navbar{
    background-color: var(--primary-color-light);
}

#nav-logo{
    height: 40px;
    width: auto;
}   

/* .navbar-brand{
    font-family: var(--secondary-font);
} */


/* Footer */
#footer{
    background-color: var(--primary-color-light);
    color: white;
    padding-bottom: 3rem;
}

#footer .sub-heading-color{
    color: var(--secondary-color-base);
    color: var(--neutral-color-light);
}



#footer i{
    color: var(--secondary-color-base);
    font-size: 1.2rem;
    margin-right: 15px;
}

#footer .social-links i{
    color: var(--neutral-color-light);
    font-size: 2rem;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#footer .social-links i:hover{
    color: var(--secondary-color-base);
}

#footer .quick-links li{
    list-style:none;
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

#footer .quick-links a{
    color: var(--neutral-color-light);
    text-decoration: none;
}

#footer .quick-links a:hover{
    color: var(--secondary-color-base);
    
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */
